@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col gap-8 ml-14 mt-20">
    <div>
        <h1 class="text-2xl font-bold">Gerenciador de Usuários</h1>
        <p class="text-[#64748B]">Gerencie seus usuários, visualize detalhes e execute ações.</p>
    </div>
    <div class="flex items-center justify-between">
        <input type="search" class="block rounded-md bg-white w-[384px] h-[40px] px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-[#2563EB] sm:text-sm/6" placeholder="Buscar usuários...">
        <div class="flex gap-2">
            <button class="flex items-center justify-center bg-[#2563EB] w-[178px] h-[40px] rounded text-white font-bold hover:bg-[#1D4ED8] transition duration-300 ease-in-out cursor-pointer" onclick="abrirModal()">
                <span class="mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                         <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                    </svg>
                </span>
                Adicionar Usuário
            </button>
            <button class="flex items-center justify-center bg-white w-[178px] h-[40px] rounded text-black font-bold hover:bg-[#F3F4F6] transition duration-300 ease-in-out cursor-pointer border border-[#D1D5DB]">
                <span class="mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                    </svg>
                </span>
                Exportar PDF
            </button>
        </div>
    </div>
    <div class="mt-8 flow-root">
        <div class="">
            <div class="inline-block min-w-full py-2 align-middle">
                <table class="min-w-full border-separate border-spacing-0">
                    <thead>
                        <tr>
                            <th scope="col" class="sticky top-0 z-10 border-t border-l border-b border-gray-300 bg-white/75 py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter sm:pl-6 lg:pl-8">Nome</th>
                            <th scope="col" class="sticky top-0 z-10 hidden border-b border-t border-gray-300 bg-white/75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter sm:table-cell">E-mail</th>
                            <th scope="col" class="sticky top-0 z-10 hidden border-b border-t border-gray-300 bg-white/75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter lg:table-cell">Papel</th>
                            <th scope="col" class="sticky top-0 z-10 hidden border-b border-t border-gray-300 bg-white/75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter lg:table-cell">Status</th>
                            <th scope="col" class="sticky top-0 z-10 hidden border-b border-t border-r border-gray-300 bg-white/75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter lg:table-cell">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-b border-l border-gray-200 py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-6 lg:pl-8">Lindsay Walton</td>
                            <td class="hidden border-b border-gray-200 px-3 py-4 text-sm whitespace-nowrap text-gray-500 sm:table-cell">Front-end Developer</td>
                            <td class="hidden border-b border-gray-200 px-3 py-4 text-sm whitespace-nowrap text-gray-500 lg:table-cell">lindsay.walton@example.com</td>
                            <td class="px-3 py-5 text-sm whitespace-nowrap border-b border-gray-200 text-gray-500">
                                <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-green-600/20 ring-inset">
                                    Active
                                </span>
                            </td>
                            <td class="border-b border-r border-gray-200 hidden px-3 py-4 text-sm whitespace-nowrap text-gray-500 lg:table-cell">
                                <button class="cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                        </svg>
                                </button>
                            </td>
                        </tr>                   
                    </tbody>
                </table>
            </div>
        </div>
  </div>
  <div  id="modal-usuario" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true">
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                <h3 class="text-[18px] font-semibold text-gray-900" id="modal-title">Adicionar Usuário</h3>
                                <button class="absolute top-0 right-0 p-2 mt-4 mr-3 cursor-pointer" id="fechar-modal" onclick="fecharModal()">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                    </svg>
                                </button>
                                @* MODAL CADASTRAR USUÁRIO *@
                                <div class="mt-2">
                                    <form id="form-modal">
                                        <div>
                                            <div class="sm:col-span-4">
                                                <label for="nomeUsuario" class="block text-sm/6 font-medium text-gray-900">Nome</label>
                                                <div class="mt-2">
                                                    <div class="flex items-center rounded-md bg-white pl-3 w-[446px] h-[40px] outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                                                        <input type="text" name="nomeUsuario" id="nome" class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" placeholder="Nome Completo...">
                                                    </div>                                                    
                                                </div>
                                            </div>
                                            <div class="sm:col-span-4 mt-3">
                                                <label for="emailUsuario" class="block text-sm/6 font-medium text-gray-900">E-mail</label>
                                                <div class="mt-2">
                                                    <div class="flex items-center rounded-md bg-white pl-3 w-[446px] h-[40px] outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
                                                        <input type="text" name="emailUsuario" id="email" class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" placeholder="Digite seu e-mail...">
                                                    </div>                                                    
                                                </div>
                                            </div>
                                            <div class="sm:col-span-4 mt-3">
                                                <label for="foto" class="block text-sm/6 font-medium text-gray-900">Foto</label>
                                                <div class="relative w-[446px] h-60 rounded-lg border border-dashed border-gray-900/25 overflow-hidden">
                                                    <div id="upload-content" class="absolute inset-0 w-[446px] h-full flex flex-col items-center justify-center text-center px-6 py-10">
                                                        <svg class="mx-auto size-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                            <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" />
                                                        </svg>
                                                        <div class="mt-4 flex text-sm/6 text-gray-600">
                                                            <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 focus-within:outline-hidden hover:text-indigo-500">
                                                            <span>Upload a file</span>
                                                            <input id="file-upload" name="file-upload" type="file" class="sr-only">
                                                            </label>
                                                            <p class="pl-1">or drag and drop</p>
                                                        </div>
                                                        <p class="text-xs/5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                                                    </div>
                                                    <div id="preview-container" class="absolute inset-0 hidden bg-white/80 flex items-center justify-center">
                                                        <img id="preview-image" src="#" alt="Pré-visualização" class="h-full w-full object-contain rounded-lg pointer-events-none" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sm:col-span-4 mt-3">
                                                <div class="flex items-center gap-2">
                                                    <label for="status" class="block text-sm/6 font-medium text-gray-900">Papel</label>
                                                    <a href="/PapelUsuario" class="cursor-pointer text-[#2563EB] ">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                        </svg>
                                                    </a>
                                                </div>  
                                                <div class="mt-2 grid grid-cols-1">
                                                    <select id="country" name="country" autocomplete="country-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                                                         @foreach (var papelUsuario in ViewBag.PapelUsuarios)
                                                        {
                                                            <option value="@papelUsuario.Id">@papelUsuario.NomePapelUsuario</option>
                                                        }
                                                    </select>
                                                    <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                    <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="sm:col-span-4 mt-3">
                                                <div class="flex items-center gap-2">
                                                    <label for="status" class="block text-sm/6 font-medium text-gray-900">Status</label>
                                                    <a href="/StatusUsuario" class="cursor-pointer text-[#2563EB] ">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                        </svg>
                                                    </a>
                                                </div>                                             
                                                <div class="mt-2 grid grid-cols-1">
                                                    <select id="country" name="country" autocomplete="country-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                                                        @foreach (var statusUsuario in ViewBag.StatusUsuarios)
                                                        {
                                                            <option value="@statusUsuario.Id">@statusUsuario.NomeStatusUsuario</option>
                                                        }
                                                    </select>
                                                    <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                    <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        <button type="button" class="inline-flex w-[92px] h-[40px] justify-center rounded-md bg-[#2563EB] px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-800 sm:ml-3 cursor-pointer">Salvar</button>
                        <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50 sm:mt-0 sm:w-auto cursor-pointer" onclick="fecharModal()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Pages/HomeUsuario/index.js"></script>
